.legend {
	@include box-sizing(border-box);
	@include animation(fade-in-from-bottom .6s $easing);
	@include box-shadow(rgba(#000000, 0.2) 0 0 30px);

	display: none;

	&.open {
		display: block;
	}

	$h: 230px;
	$borderWidth: 4px;
	$padding: 15px;

	padding: $borderWidth;
	min-height: $h;
	width: 830px;
	position: absolute;
	background-color: #ffffff;

	img,
	.btn-play {
		width: $h - ($borderWidth * 2);
		height: $h - ($borderWidth * 2);
	}

	img {
		float: left;
		margin-right: $padding;
		position: relative;
	}

	h2, & > div {
		margin: $padding;
	}

	h2 {
		font-weight: $semibold;
		@include h2;
	}

	&.no-img {
		min-height: initial;
		width: 590px;

		&.title-only {
			width: auto;

			&.open {
				display: inline-block;
			}
		}
	}

	&.with-img {
		.copy {
			@include box-sizing(border-box);
			float: left;
			margin: 0;
			margin-bottom: $padding;
			width: calc(100% - #{$h - ($borderWidth * 3) + ($padding * 2)});
		}
	}

	h2 {
		color: $darkGreen;
	}

	p {
		@include body;
		color: $black;
	}

	$arrowSize: 70px;

	.arrow {
		position: absolute;
		margin: 0;
		top: -$arrowSize;
		width: $arrowSize;
		height: $arrowSize;
		background-color: rgba(#ffffff, 0.3);

		@include clip-path(polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%));
	}

	&.center {
		.arrow {
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	&.top {
		.arrow {
		}
	}

	&.left {
		.arrow {
			@include clip-path(polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%));
			top: 0;
			left: -$arrowSize;
		}
	}

	&.right {
		.arrow {
			@include clip-path(polygon(100% 50%, 0 0, 0 100%));
			top: 0;
			left: 100%;
		}

		&.center {
			.arrow {
				right: inherit;
				margin: 0;
				top: calc(50% - #{ceil($arrowSize / 2) + 3});
			}
		}
	}

	&.bottom {
		.arrow {
			@include clip-path(polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%));
			top: $h;
		}
	}
	&.bottom.no-img {
		.arrow {
			top: auto;
		}
	}
}