.point {
	cursor: pointer;
	display: block;

	&.first-view {
		@include opacity(0);
		@include animation(fade-in 1s $easing .6s forwards);
	}

	// increase hit area
	overflow: visible;

	&:after {
		content: '';
		position: absolute;
		top: -30px;
		left: -30px;
		width: 100px;
		height: 100px;
		background-color: rgba(#000000, 0);
	}

	&, .inner {
		@include box-sizing(border-box);
		position: relative;
	}

	$dim: 40px;

	width: $dim;
	height: $dim;
	@include border-radius($dim / 2);
	border: 3px solid $white;

	background-color: transparent;

	padding: 2px;

	.inner {
		$lilDim: $dim - 10px;

		padding: 0;
		width: $lilDim;
		height: $lilDim;
		@include border-radius($lilDim / 2);

		border: 2px solid $white;

		@include transition(
			transform .3s $easing,
			opacity .4s $easing,
			background-color .5s $easing
		);

		@include transform(scale3d(.6, .6, .6));
		@include opacity(1);
		background-color: $white;
	}

	label {
		position: absolute;
		z-index: 1;
		color: $black;
		font-weight: $semibold;
	}
	
	&.visited {
		.inner {
			@include opacity(.3);
		}
	}

	&.selected,
	&.highlight {
		.inner {
			@include opacity(1);
			@include transform(scale3d(1, 1, 1));
			background-color: $darkGreen;
		}
	}
}
