&.sequence {
	.marker,
	.pic {
		position: absolute;

		@include transition(
			opacity .6s $easing
		);

		@include opacity(0);

		&.default,
		&.open {
			@include opacity(1);
		}
	}

	.marker {
		top: calc(50% - 46px);
		left: 765px;
		z-index: 998;

		display: inline-block;
		background-color: $brightGreen;
		font-size: 18px;
		padding: 3px;
		padding-left: 10px;
		padding-right: 10px;

		pointer-events: none;

		&.open {
			pointer-events: inherit;
		}
	}

	.pic {
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		background-color: $darkGreen;

		img {
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}

		z-index: 1;

		&.open {
			z-index: 2;

			&.default {
				z-index: -1;
			}
		}
	}

	@import "legend";

	.legend {
		z-index: 999;
		display: none;

		&.open {
			display: block;
		}
	}
}
