@import "global-variables";
@import "compass/reset";
@import "compass/css3/opacity";
@import "compass/css3/user-interface";
@import "compass/css3/animation";
@import "leaflet";

// disable user select
.touch {
	* {
		cursor: none;
		-webkit-touch-callout: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		@include user-select(none);
	}
}

html {
	height: 100%;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body {
	// curly quotes
	-webkit-font-feature-settings: 'ss17' 1, 'onum' 1;
	font-feature-settings: 'ss17' 1, 'onum' 1;

	#preload {
		position: absolute;
		left: -9999999px;

		.medium {
			font-weight: $medium;
		}
		.semibold {
			font-weight: $semibold;
		}
	}

	&, * {
		font-family: 'Whitney', Helvetica, Arial, sans-serif;
		outline: none;
	}

	p {
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	button {
		cursor: pointer;
		border: 0;
		background-color: transparent;
		@include appearance(none);
	}

	#preload div,
	.cn,
	.cn * {
		font-family: 'HanSans', Helvetica, Arial, sans-serif;
	}

	#preload .en {
		font-family: 'Whitney', Helvetica, Arial, sans-serif;
	}

	i,
	em {
		font-style: italic;
	}

	margin: 0;
	padding: 0;
	min-height: 100%;
	@include body;
	font-weight: $book;
	background-color: $bgGrey;
	color: #ffffff;

	#root {
		position: relative;
		background-color: $black;
		
		@include box-sizing(border-box);
		width: $stageWidth;
		height: $stageHeight;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;

		background-image: url('../images/bg.png');
		background-repeat: no-repeat;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $black;

			@include transition(
				opacity .6s $easing .3s
			);

			@include opacity(.4);

			.full-section & {
				@include opacity(0);
			}
		}

		@import "nav";

		#close {
			@include box-sizing(border-box);

			z-index: 9999999;
			position: absolute;
			
			text-indent: -999px;
			overflow: hidden;

			$dim: 62px;
			$left: 50px;
			$top: 30px;

			width: $dim + ($left * 2);
			height: $dim + ($top * 2);

			padding: 0;
			background-color: transparent;
			border: none;
			background-image: url('../images/icons/close-white.svg');
			background-repeat: no-repeat;
			@include background-size($dim $dim);
			
			@include opacity(0);
			@include buttony;
			pointer-events: none;
			margin-left: -9999px;

			top: $translationUIHeight;
			background-position: 20px 50px;
			right: 0;

			html[active-section="credits"] & {
				background-position: $left $top;
			}

			html[active-section="media-overlay"] & {
				background-position: $left $top;
				left: 0;
			}

			.show-close & {
				@include transition(
					opacity .4s $easing
				);

				@include opacity(1);
				@include buttony;

				pointer-events: all;
				margin-left: 0;
			}

			.video-playing & {
				@include filter(drop-shadow(0 0 5px rgba(#000000, 0.4)));
			}
		}

		section {
			z-index: 2;
			display: none;
			@include animation(fade-in 1s $easing);
			position: absolute;
			overflow: hidden;

			$padding: 60px;

			width: $stageWidth - ($padding * 2);
			height: $stageHeight - $translationUIHeight - $padding;
			top: $translationUIHeight + ($padding / 2);
			left: $padding;
			right: $padding;
			bottom: $padding / 2;

			background-color: $darkGreen;
			@include box-shadow(rgba(#000000, 0.5) 0 0 50px);

			&.full {
				background-color: transparent;
				width: $stageWidth;
				height: $stageHeight - $translationUIHeight;
				top: $translationUIHeight;
				left: 0;
				right: 0;
				bottom: 0;

				aside {
					background-color: rgba($darkGreen, 0.95);
				}
			}

			&.open {
				display: block;
			}

			aside {
				@include box-sizing(border-box);
				padding: 50px;
				width: $asideWidth;

				h1 {
					@include h1;
					color: $brightGreen;
					margin-bottom: 30px;
				}

				.bottom {
					$padding: 20px;
					position: absolute;
					bottom: 50px;

					.buttons {
						li {
							@include button-with-border;
							margin-bottom: $padding;
						}
					}

					.mini-map {
						@include buttony;
						margin-top: 30px;

						width: 165px;
						height: 175px;
						@include background-size(cover);
						background-repeat: no-repeat;
						background-image: url('../images/round-mini.png');
						position: relative;

						div {
							position: absolute;
							width: 25px;
							height: 25px;
							@include box-sizing(border-box);
							border: 2px solid $brightGreen;
							text-indent: -999px;
							overflow: hidden;							
						}
					}
				}
			}

			aside,
			.container {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
			}

			.container {
				@include box-sizing(border-box);
				left: $asideWidth;
				width: calc(100% - #{$asideWidth});
				
				img {
					width: 100%;
				}

				&.video {
					$padding: 120px;

					padding: $padding;
					overflow: hidden;

					img,
					button {
						height: 620px;
					}

					button {
						position: absolute;
						z-index: 1;
						top: $padding;
						bottom: 0;
						left: 0;
						right: 0;
						display: block;
						width: 100%;
						overflow: hidden;
						text-indent: -9999px;
						
						background-repeat: no-repeat;
						background-image: url('../images/icons/play.svg');
						background-position: center center;
						
						@include background-size(100px 100px);
						@include filter(drop-shadow(0 0 5px rgba(#000000, 0.4)));
						@include buttony;
					}
				}

				@import "sequence";
			}

			&#credits {
				z-index: 5;
				background-color: $black;
				@include animation-duration(.5s);
				@include box-sizing(border-box);
				padding: 100px;
				padding-top: 0;

				h1 {
					@include h1;
					font-weight: $medium;
					text-align: center;
					margin: 40px;
				}

				.credits-container {
					ul {
						pointer-events: none;
						width: 540px;
						float: left;
						padding-right: 50px;

						&:last-child {
							padding-right: 0;
						}

						li {
							margin-bottom: 18px;

							h2 {
								@include h3;
								font-size: 23px;
								font-weight: $medium;
								margin-bottom: 3px;
							}

							div {
								@include body(true);
							}
						}
					}
				}
			}

			&#media-overlay {
				z-index: 4;
				background-color: $black;

				video {
					z-index: 1;
					@include animation(fade-in 2s $easing);
					width: $stageWidth;
					height: $stageHeight;
				}

				.progress-indicator {
					z-index: 2;
					position: absolute;
					@include transition-delay(1s);
					@include filter(drop-shadow(0 0 5px rgba(#000000, 0.4)));
					
					top: 20px;
					right: 20px;

					svg {
						@include transform(rotate(-90deg));

						width: 50px;
						height: 50px;

						circle {
							fill: none;

							&.progress {
								stroke: #ffffff;
								stroke-width: 6;
							}
							&.bg {
								stroke: $black;
								stroke-width: 2;
							}
						}
					}
				}
			}

			&#main {
				aside {
					@include animation(slide-in .6s $easing forwards);
					@include transform(translate3d(-30px, 0, 0));

					.bottom {
						bottom: 100px;

						.buttons {							
							&, div, li {
								@include box-sizing(border-box);
							}

							li {
								width: 100%;
								font-size: 24px;
								line-height: 1;
								border: 2px solid #ffffff;
								padding: 10px;
								text-align: left;

								.copy,
								.point {
									float: left;
								}

								.copy {
									padding-right: 60px;
									font-weight: $medium;
								}

								.point {
									margin-right: 10px;
									margin-top: 5px;
								}
							}
						}
					}
				}

				.container {
					z-index: -1;
					width: 100%;
					left: 0;

					#points {
						display: none;
					}
				}			
			}

			&#meanwhile {
				#timeline {
					&, li {
						@include box-sizing(border-box);
					}

					@include animation(slide-in .6s $easing forwards);
					@include transform(translate3d(0, 100%, 0));

					z-index: 3;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100px;
					background-color: $brightGreen;
					padding: 23px;
					padding-top: 26px;

					li {
						@include buttony;
						float: left;
						padding: 10px;
						padding-left: 16px;
						padding-right: 16px;
						border: 1px solid $white;
						margin-right: 20px;

						&:last-child {
							margin-right: 0;
						}

						&.selected {
							background-color: $white;
							color: $darkGreen;
							pointer-events: none;
						}
					}
				}

				.container {
					@include background-size(cover);
					background-repeat: no-repeat;
					background-image: url(../images/sequences/timeline/bg.png);

					.pic {
						background-color: transparent;
					}

					.legend {
						top: 345px;
						width: 630px;

						&#legend-1900--2000 {
							width: 800px;
						}
					}
				}

				html[lang="tl"] & {
					aside {
						h1 {
							width: 600px;
						}
					}
				}
			}
 		}

		@import "attract";
	}

	// loading
	#loading {
		position: absolute;
		display: table;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		h1 {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-size: 60px;
			font-weight: $book;
			color: #ffffff;
			padding-bottom: 30px;
		}
	}

	#root {
		display: none;
	}

	.loaded & {
		#loading {
			display: none;
		}

		#root {
			display: block;
		}
	}

	// translate
	.en, .cn, .tl, .es {
		display: none !important;
		@include animation(fade-in 1s $easing);
	}

	@mixin lg($lg) {
		html[lang="#{$lg}"] & {
			.#{$lg} {
				display: block !important;
			}
		}
	}

	@include lg('en');
	@include lg('cn');
	@include lg('tl');
	@include lg('es');

	@import "points"; 
}
