@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneyMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney';
  src: url("../fonts/WhitneySemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowBook.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'Whitney Narrow';
  src: url("../fonts/WhitneyNarrowSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'Whitney Condensed';
  src: url("../fonts/WhitneyCondensedSemibold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansNormal.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansMedium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: 'HanSans';
  src: url("../fonts/HanSansBold.otf") format("opentype");
  font-weight: 600;
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes slide-in {
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-in {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-in {
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slide-and-fade-in {
  100% {
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-and-fade-in {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes slide-and-fade-in {
  100% {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-moz-keyframes slide-and-fade-in-centered {
  100% {
    -moz-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-and-fade-in-centered {
  100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
@keyframes slide-and-fade-in-centered {
  100% {
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
/* line 5, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_leaflet.scss */
.leaflet-container {
  background-color: transparent;
  width: 1920px;
  height: 1035px;
}
/* line 7, ../sass/_leaflet.scss */
.leaflet-container .leaflet-image-layer {
  outline: 1px solid transparent;
}

/* line 10, ../sass/global.scss */
.touch * {
  cursor: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 18, ../sass/global.scss */
html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* line 24, ../sass/global.scss */
body {
  -webkit-font-feature-settings: 'ss17' 1, 'onum' 1;
  font-feature-settings: 'ss17' 1, 'onum' 1;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  background-color: #434244;
  color: #ffffff;
}
/* line 29, ../sass/global.scss */
body #preload {
  position: absolute;
  left: -9999999px;
}
/* line 33, ../sass/global.scss */
body #preload .medium {
  font-weight: 500;
}
/* line 36, ../sass/global.scss */
body #preload .semibold {
  font-weight: 600;
}
/* line 41, ../sass/global.scss */
body, body * {
  font-family: 'Whitney', Helvetica, Arial, sans-serif;
  outline: none;
}
/* line 46, ../sass/global.scss */
body p {
  margin-bottom: 20px;
}
/* line 49, ../sass/global.scss */
body p:last-child {
  margin-bottom: 0;
}
/* line 54, ../sass/global.scss */
body button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 61, ../sass/global.scss */
body #preload div,
body .cn,
body .cn * {
  font-family: 'HanSans', Helvetica, Arial, sans-serif;
}
/* line 67, ../sass/global.scss */
body #preload .en {
  font-family: 'Whitney', Helvetica, Arial, sans-serif;
}
/* line 71, ../sass/global.scss */
body i,
body em {
  font-style: italic;
}
/* line 84, ../sass/global.scss */
body #root {
  position: relative;
  background-color: #000000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
}
/* line 98, ../sass/global.scss */
body #root:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-delay: 0.3s;
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 113, ../sass/global.scss */
.full-section body #root:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 1, ../sass/_nav.scss */
body #root nav {
  z-index: 999;
  position: relative;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  clear: both;
  line-height: 1;
  letter-spacing: 1.25px;
}
/* line 15, ../sass/_nav.scss */
body #root nav, body #root nav li, body #root nav div, body #root nav span {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px;
}
/* line 20, ../sass/_nav.scss */
body #root nav #btn-credits,
body #root nav li {
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  float: right;
}
/* line 28, ../sass/_nav.scss */
html[active-section="credits"] body #root nav #btn-credits, html[active-section="credits"]
body #root nav li {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}
/* line 36, ../sass/_nav.scss */
body #root nav span {
  display: block;
  text-align: center;
  padding-top: 12px;
}
/* line 42, ../sass/_nav.scss */
body #root nav #btn-credits span,
body #root nav #languages li span {
  cursor: hand;
  cursor: pointer;
}
/* line 14, ../sass/_mixins.scss */
body #root nav #btn-credits span.highlight,
body #root nav #languages li span.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 47, ../sass/_nav.scss */
body #root nav #btn-credits {
  width: 100px;
}
/* line 50, ../sass/_nav.scss */
body #root nav #btn-credits span {
  color: #676767;
  padding-top: 16px;
  font-size: 15px;
  font-family: 'Whitney Narrow';
  font-weight: 600;
}
/* line 60, ../sass/_nav.scss */
body #root nav #languages li {
  width: 209px;
  border-right: 1px solid #ffffff;
  text-transform: uppercase;
  color: #6cc24a;
}
/* line 64, ../sass/_nav.scss */
body #root nav #languages li:last-child {
  border-left: 1px solid #ffffff;
}
/* line 71, ../sass/_nav.scss */
body #root nav #languages li span {
  font-size: 23px;
  font-family: 'Whitney Condensed';
  font-weight: 500;
}
/* line 78, ../sass/_nav.scss */
body #root nav #languages li#cn span {
  padding-top: 9px;
  font-family: 'HanSans';
}
/* line 84, ../sass/_nav.scss */
body #root nav #languages li.active {
  color: #ffffff;
  pointer-events: none;
}
/* line 88, ../sass/_nav.scss */
body #root nav #languages li.active span {
  font-weight: 600;
}
/* line 120, ../sass/global.scss */
body #root #close {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999999;
  position: absolute;
  text-indent: -999px;
  overflow: hidden;
  width: 162px;
  height: 122px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("../images/icons/close-white.svg");
  background-repeat: no-repeat;
  -moz-background-size: 62px 62px;
  -o-background-size: 62px 62px;
  -webkit-background-size: 62px 62px;
  background-size: 62px 62px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  cursor: hand;
  cursor: pointer;
  pointer-events: none;
  margin-left: -9999px;
  top: 45px;
  background-position: 20px 50px;
  right: 0;
}
/* line 14, ../sass/_mixins.scss */
body #root #close.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 152, ../sass/global.scss */
html[active-section="credits"] body #root #close {
  background-position: 50px 30px;
}
/* line 156, ../sass/global.scss */
html[active-section="media-overlay"] body #root #close {
  background-position: 50px 30px;
  left: 0;
}
/* line 161, ../sass/global.scss */
.show-close body #root #close {
  -moz-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  cursor: hand;
  cursor: pointer;
  pointer-events: all;
  margin-left: 0;
}
/* line 14, ../sass/_mixins.scss */
.show-close body #root #close.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 173, ../sass/global.scss */
.video-playing body #root #close {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
/* line 178, ../sass/global.scss */
body #root section {
  z-index: 2;
  display: none;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  overflow: hidden;
  width: 1800px;
  height: 975px;
  top: 75px;
  left: 60px;
  right: 60px;
  bottom: 30px;
  background-color: #44693d;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;
}
/* line 197, ../sass/global.scss */
body #root section.full {
  background-color: transparent;
  width: 1920px;
  height: 1035px;
  top: 45px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 206, ../sass/global.scss */
body #root section.full aside {
  background-color: rgba(68, 105, 61, 0.95);
}
/* line 211, ../sass/global.scss */
body #root section.open {
  display: block;
}
/* line 215, ../sass/global.scss */
body #root section aside {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  width: 500px;
}
/* line 220, ../sass/global.scss */
body #root section aside h1 {
  font-size: 60px;
  line-height: 1;
  color: #6cc24a;
  margin-bottom: 30px;
}
/* line 48, ../sass/_mixins.scss */
body #root section aside h1, body #root section aside h1 div {
  font-family: 'Whitney Narrow';
}
/* line 52, ../sass/_mixins.scss */
body #root section aside h1 .cn {
  font-family: 'HanSans';
}
/* line 226, ../sass/global.scss */
body #root section aside .bottom {
  position: absolute;
  bottom: 50px;
}
/* line 232, ../sass/global.scss */
body #root section aside .bottom .buttons li {
  cursor: hand;
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  width: 300px;
  padding: 10px;
  color: #ffffff;
  border: 3px solid #ffffff;
  margin-bottom: 20px;
}
/* line 14, ../sass/_mixins.scss */
body #root section aside .bottom .buttons li.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 36, ../sass/_mixins.scss */
body #root section aside .bottom .buttons li.selected {
  background-color: #ffffff;
  color: #6cc24a;
}
/* line 238, ../sass/global.scss */
body #root section aside .bottom .mini-map {
  cursor: hand;
  cursor: pointer;
  margin-top: 30px;
  width: 165px;
  height: 175px;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/round-mini.png");
  position: relative;
}
/* line 14, ../sass/_mixins.scss */
body #root section aside .bottom .mini-map.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 249, ../sass/global.scss */
body #root section aside .bottom .mini-map div {
  position: absolute;
  width: 25px;
  height: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #6cc24a;
  text-indent: -999px;
  overflow: hidden;
}
/* line 262, ../sass/global.scss */
body #root section aside,
body #root section .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
/* line 270, ../sass/global.scss */
body #root section .container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 500px;
  width: calc(100% - 500px);
}
/* line 275, ../sass/global.scss */
body #root section .container img {
  width: 100%;
}
/* line 279, ../sass/global.scss */
body #root section .container.video {
  padding: 120px;
  overflow: hidden;
}
/* line 285, ../sass/global.scss */
body #root section .container.video img,
body #root section .container.video button {
  height: 620px;
}
/* line 290, ../sass/global.scss */
body #root section .container.video button {
  position: absolute;
  z-index: 1;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/play.svg");
  background-position: center center;
  -moz-background-size: 100px 100px;
  -o-background-size: 100px 100px;
  -webkit-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  cursor: hand;
  cursor: pointer;
}
/* line 14, ../sass/_mixins.scss */
body #root section .container.video button.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 2, ../sass/_sequence.scss */
body #root section .container.sequence .marker,
body #root section .container.sequence .pic {
  position: absolute;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 12, ../sass/_sequence.scss */
body #root section .container.sequence .marker.default, body #root section .container.sequence .marker.open,
body #root section .container.sequence .pic.default,
body #root section .container.sequence .pic.open {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 18, ../sass/_sequence.scss */
body #root section .container.sequence .marker {
  top: calc(50% - 46px);
  left: 765px;
  z-index: 998;
  display: inline-block;
  background-color: #6cc24a;
  font-size: 18px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
}
/* line 32, ../sass/_sequence.scss */
body #root section .container.sequence .marker.open {
  pointer-events: inherit;
}
/* line 37, ../sass/_sequence.scss */
body #root section .container.sequence .pic {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #44693d;
  z-index: 1;
}
/* line 44, ../sass/_sequence.scss */
body #root section .container.sequence .pic img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* line 52, ../sass/_sequence.scss */
body #root section .container.sequence .pic.open {
  z-index: 2;
}
/* line 55, ../sass/_sequence.scss */
body #root section .container.sequence .pic.open.default {
  z-index: -1;
}
/* line 1, ../sass/_legend.scss */
body #root section .container.sequence .legend {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 30px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  -moz-animation: slide-and-fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-animation: slide-and-fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slide-and-fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  display: none;
  padding: 4px;
  min-height: 230px;
  width: 830px;
  position: absolute;
  background-color: #ffffff;
}
/* line 11, ../sass/_legend.scss */
body #root section .container.sequence .legend.open {
  display: block;
}
/* line 25, ../sass/_legend.scss */
body #root section .container.sequence .legend img,
body #root section .container.sequence .legend .btn-play {
  width: 222px;
  height: 222px;
}
/* line 31, ../sass/_legend.scss */
body #root section .container.sequence .legend img {
  float: left;
  margin-right: 15px;
  position: relative;
}
/* line 37, ../sass/_legend.scss */
body #root section .container.sequence .legend h2, body #root section .container.sequence .legend > div {
  margin: 15px;
}
/* line 41, ../sass/_legend.scss */
body #root section .container.sequence .legend h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
}
/* line 46, ../sass/_legend.scss */
body #root section .container.sequence .legend.no-img {
  min-height: initial;
  width: 590px;
}
/* line 50, ../sass/_legend.scss */
body #root section .container.sequence .legend.no-img.title-only {
  width: auto;
  min-width: 100px;
}
/* line 54, ../sass/_legend.scss */
body #root section .container.sequence .legend.no-img.title-only#summer-to-fall {
  min-width: 250px;
}
/* line 57, ../sass/_legend.scss */
html[lang="tl"] body #root section .container.sequence .legend.no-img.title-only#summer-to-fall {
  min-width: 430px;
}
/* line 60, ../sass/_legend.scss */
html[lang="cn"] body #root section .container.sequence .legend.no-img.title-only#summer-to-fall {
  min-width: auto;
}
/* line 65, ../sass/_legend.scss */
body #root section .container.sequence .legend.no-img.title-only div {
  text-align: center;
}
/* line 69, ../sass/_legend.scss */
body #root section .container.sequence .legend.no-img.title-only.open {
  display: inline-block;
}
/* line 76, ../sass/_legend.scss */
body #root section .container.sequence .legend.with-img .copy {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 0;
  margin-bottom: 15px;
  width: calc(100% - 248px);
}
/* line 85, ../sass/_legend.scss */
body #root section .container.sequence .legend.auto-width {
  width: auto;
}
/* line 88, ../sass/_legend.scss */
body #root section .container.sequence .legend.auto-width .arrow {
  left: 25px;
}
/* line 93, ../sass/_legend.scss */
body #root section .container.sequence .legend h2 {
  color: #6cc24a;
}
/* line 97, ../sass/_legend.scss */
body #root section .container.sequence .legend p {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}
/* line 101, ../sass/_legend.scss */
html[lang="tl"] body #root section .container.sequence .legend p, html[lang="es"] body #root section .container.sequence .legend p {
  font-size: 20px;
  line-height: 24px;
  font-size: 18px;
  line-height: 23px;
}
/* line 110, ../sass/_legend.scss */
body #root section .container.sequence .legend .arrow {
  position: absolute;
  margin: 0;
  top: -70px;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: -1;
  -webkit-clip-path: polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%, 50% 0%);
  -moz-animation: slide-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-animation: slide-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slide-in 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}
/* line 125, ../sass/_legend.scss */
body #root section .container.sequence .legend.center {
  -moz-transform: translateX(-50%) translateY(30px);
  -ms-transform: translateX(-50%) translateY(30px);
  -webkit-transform: translateX(-50%) translateY(30px);
  transform: translateX(-50%) translateY(30px);
  -moz-animation-name: slide-and-fade-in-centered;
  -webkit-animation-name: slide-and-fade-in-centered;
  animation-name: slide-and-fade-in-centered;
}
/* line 129, ../sass/_legend.scss */
body #root section .container.sequence .legend.center .arrow {
  left: 0;
  right: 0;
  margin: auto;
}
/* line 142, ../sass/_legend.scss */
body #root section .container.sequence .legend.left .arrow {
  -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%);
  clip-path: polygon(100% 0%, 100% 100%, 0% 50%, 100% 0%);
  top: 0;
  left: -69px;
  -moz-transform: translate3d(30px, 0, 0);
  -ms-transform: translate3d(30px, 0, 0);
  -webkit-transform: translate3d(30px, 0, 0);
  transform: translate3d(30px, 0, 0);
}
/* line 151, ../sass/_legend.scss */
body #root section .container.sequence .legend.right .arrow {
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  top: 0;
  left: 100%;
  -moz-transform: translate3d(-30px, 0, 0);
  -ms-transform: translate3d(-30px, 0, 0);
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}
/* line 159, ../sass/_legend.scss */
body #root section .container.sequence .legend.right.center .arrow {
  right: inherit;
  margin: 0;
  top: calc(50% - 38px);
}
/* line 168, ../sass/_legend.scss */
body #root section .container.sequence .legend.bottom .arrow {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%, 0% 0%);
  top: 230px;
  -moz-transform: translate3d(0, -30px, 0);
  -ms-transform: translate3d(0, -30px, 0);
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}
/* line 175, ../sass/_legend.scss */
body #root section .container.sequence .legend.bottom.no-img .arrow {
  top: auto;
}
/* line 181, ../sass/_legend.scss */
body #root section .container.sequence .legend#inner-rings-legend .arrow {
  top: 38px;
}
/* line 187, ../sass/_legend.scss */
body #root section .container.sequence .legend#comparing-climates-legend .arrow {
  right: 50px;
}
/* line 192, ../sass/_legend.scss */
body #root section .container.sequence .legend#invisible-insights-legend {
  width: 850px;
}
/* line 195, ../sass/_legend.scss */
body #root section .container.sequence .legend#invisible-insights-legend .arrow {
  left: 530px;
}
/* line 203, ../sass/_legend.scss */
body #root section .container.sequence .legend#spring-to-summer .arrow, body #root section .container.sequence .legend#false-ring-legend .arrow, body #root section .container.sequence .legend#local-growth-legend .arrow {
  left: 25px;
}
/* line 63, ../sass/_sequence.scss */
body #root section .container.sequence .legend {
  z-index: 999;
  display: none;
}
/* line 67, ../sass/_sequence.scss */
body #root section .container.sequence .legend.open {
  display: block;
}
/* line 315, ../sass/global.scss */
body #root section#credits {
  z-index: 5;
  background-color: #000000;
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px;
  padding-top: 0;
}
/* line 323, ../sass/global.scss */
body #root section#credits h1 {
  font-size: 60px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  margin: 40px;
}
/* line 48, ../sass/_mixins.scss */
body #root section#credits h1, body #root section#credits h1 div {
  font-family: 'Whitney Narrow';
}
/* line 52, ../sass/_mixins.scss */
body #root section#credits h1 .cn {
  font-family: 'HanSans';
}
/* line 331, ../sass/global.scss */
body #root section#credits .credits-container ul {
  pointer-events: none;
  width: 540px;
  float: left;
  padding-right: 50px;
}
/* line 337, ../sass/global.scss */
body #root section#credits .credits-container ul:last-child {
  padding-right: 0;
}
/* line 341, ../sass/global.scss */
body #root section#credits .credits-container ul li {
  margin-bottom: 18px;
}
/* line 344, ../sass/global.scss */
body #root section#credits .credits-container ul li h2 {
  font-size: 24px;
  line-height: 1;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 3px;
}
/* line 351, ../sass/global.scss */
body #root section#credits .credits-container ul li div {
  font-size: 20px;
  line-height: 24px;
  font-size: 18px;
  line-height: 23px;
}
/* line 359, ../sass/global.scss */
body #root section#media-overlay {
  z-index: 4;
  background-color: #000000;
}
/* line 363, ../sass/global.scss */
body #root section#media-overlay video {
  z-index: 1;
  -moz-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 2s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 1920px;
  height: 1080px;
}
/* line 370, ../sass/global.scss */
body #root section#media-overlay .progress-indicator {
  z-index: 2;
  position: absolute;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
  top: 20px;
  right: 20px;
}
/* line 379, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 50px;
  height: 50px;
}
/* line 385, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle {
  fill: none;
}
/* line 388, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle.progress {
  stroke: #ffffff;
  stroke-width: 6;
}
/* line 392, ../sass/global.scss */
body #root section#media-overlay .progress-indicator svg circle.bg {
  stroke: #000000;
  stroke-width: 2;
}
/* line 402, ../sass/global.scss */
body #root section#main aside {
  -moz-animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -moz-transform: translate3d(-30px, 0, 0);
  -ms-transform: translate3d(-30px, 0, 0);
  -webkit-transform: translate3d(-30px, 0, 0);
  transform: translate3d(-30px, 0, 0);
}
/* line 406, ../sass/global.scss */
body #root section#main aside .bottom {
  bottom: 100px;
}
/* line 410, ../sass/global.scss */
body #root section#main aside .bottom .buttons, body #root section#main aside .bottom .buttons div, body #root section#main aside .bottom .buttons li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 414, ../sass/global.scss */
body #root section#main aside .bottom .buttons li {
  width: 100%;
  font-size: 24px;
  line-height: 1;
  border: 2px solid #ffffff;
  padding: 10px;
  text-align: left;
}
/* line 422, ../sass/global.scss */
body #root section#main aside .bottom .buttons li .copy,
body #root section#main aside .bottom .buttons li .point {
  float: left;
}
/* line 427, ../sass/global.scss */
body #root section#main aside .bottom .buttons li .copy {
  padding-right: 60px;
  font-weight: 500;
}
/* line 432, ../sass/global.scss */
body #root section#main aside .bottom .buttons li .point {
  margin-right: 10px;
  margin-top: 5px;
}
/* line 441, ../sass/global.scss */
body #root section#main .container {
  z-index: -1;
  width: 100%;
  left: 0;
}
/* line 446, ../sass/global.scss */
body #root section#main .container #points {
  display: none;
}
/* line 453, ../sass/global.scss */
body #root section#meanwhile #timeline {
  -moz-animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -webkit-animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: slide-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  z-index: 3;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #6cc24a;
  padding: 23px;
  padding-top: 26px;
}
/* line 454, ../sass/global.scss */
body #root section#meanwhile #timeline, body #root section#meanwhile #timeline li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 471, ../sass/global.scss */
body #root section#meanwhile #timeline li {
  cursor: hand;
  cursor: pointer;
  float: left;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid #ffffff;
  margin-right: 20px;
}
/* line 14, ../sass/_mixins.scss */
body #root section#meanwhile #timeline li.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 480, ../sass/global.scss */
body #root section#meanwhile #timeline li:last-child {
  margin-right: 0;
}
/* line 484, ../sass/global.scss */
body #root section#meanwhile #timeline li.selected {
  background-color: #ffffff;
  color: #44693d;
  pointer-events: none;
}
/* line 492, ../sass/global.scss */
body #root section#meanwhile .container {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/sequences/timeline/bg.png);
}
/* line 497, ../sass/global.scss */
body #root section#meanwhile .container .pic {
  background-color: transparent;
}
/* line 501, ../sass/global.scss */
body #root section#meanwhile .container .legend {
  top: 345px;
  width: 630px;
}
/* line 505, ../sass/global.scss */
body #root section#meanwhile .container .legend#legend-1900--2000 {
  width: 800px;
}
/* line 513, ../sass/global.scss */
html[lang="tl"] body #root section#meanwhile aside h1 {
  width: 600px;
}
/* line 1, ../sass/_attract.scss */
body #root #attract {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
}
/* line 9, ../sass/_attract.scss */
body #root #attract header {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
}
/* line 18, ../sass/_attract.scss */
body #root #attract header img {
  display: block;
}
/* line 23, ../sass/_attract.scss */
body #root #attract #attract-frames {
  background-image: url("../images/attract/bg.png");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 24, ../sass/_attract.scss */
body #root #attract #attract-frames, body #root #attract #attract-frames img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 32, ../sass/_attract.scss */
body #root #attract #attract-frames img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 35, ../sass/_attract.scss */
.attract-anim body #root #attract #attract-frames img {
  -moz-animation: fade-in-out 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in-out 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in-out 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 525, ../sass/global.scss */
body #loading {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* line 535, ../sass/global.scss */
body #loading h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}
/* line 546, ../sass/global.scss */
body #root {
  display: none;
}
/* line 551, ../sass/global.scss */
.loaded body #loading {
  display: none;
}
/* line 555, ../sass/global.scss */
.loaded body #root {
  display: block;
}
/* line 561, ../sass/global.scss */
body .en, body .cn, body .tl, body .es {
  display: none !important;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 568, ../sass/global.scss */
html[lang="en"] body .en {
  display: block !important;
}
/* line 568, ../sass/global.scss */
html[lang="cn"] body .cn {
  display: block !important;
}
/* line 568, ../sass/global.scss */
html[lang="tl"] body .tl {
  display: block !important;
}
/* line 568, ../sass/global.scss */
html[lang="es"] body .es {
  display: block !important;
}
/* line 1, ../sass/_points.scss */
body .point {
  cursor: pointer;
  display: block;
  overflow: visible;
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: 3px solid #ffffff;
  background-color: transparent;
  padding: 2px;
}
/* line 5, ../sass/_points.scss */
body .point.first-view {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s forwards;
  -webkit-animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s forwards;
  animation: fade-in 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s forwards;
}
/* line 13, ../sass/_points.scss */
body .point:after {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100px;
  height: 100px;
  background-color: transparent;
}
/* line 23, ../sass/_points.scss */
body .point, body .point .inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
/* line 39, ../sass/_points.scss */
body .point .inner {
  padding: 0;
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: scale3d(0.6, 0.6, 0.6);
  -ms-transform: scale3d(0.6, 0.6, 0.6);
  -webkit-transform: scale3d(0.6, 0.6, 0.6);
  transform: scale3d(0.6, 0.6, 0.6);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  background-color: #ffffff;
}
/* line 60, ../sass/_points.scss */
body .point label {
  cursor: hand;
  cursor: pointer;
  text-shadow: rgba(0, 0, 0, 0.75) 0 0 5px;
  white-space: nowrap;
  position: absolute;
  z-index: 1;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  left: 100%;
  padding-left: 8px;
  top: 3px;
}
/* line 14, ../sass/_mixins.scss */
body .point label.highlight {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 74, ../sass/_points.scss */
html[lang="cn"] body .point label {
  top: 2px;
}
/* line 78, ../sass/_points.scss */
.no-touch body .point label {
  top: 5px;
}
/* line 82, ../sass/_points.scss */
html[lang="cn"].no-touch body .point label {
  top: 4px;
}
/* line 88, ../sass/_points.scss */
body .point.visited label,
body .point.visited .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
/* line 96, ../sass/_points.scss */
body .point.selected .inner, body .point.highlight .inner {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  background-color: #44693d;
}
